@*@model List<SetAvaModel>*@

@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    var url = $"/{APIUrls.SET_COORD}";
}

<!-- photo_selection__modal__is_open -->
<div class="photo_selection__modal" id="Cord">
    <div class="light_gray photo_selection__modal__dialog">
        <button class="photo_selection_modal__close_btn" onclick="CloseCord()">
            <i class="far fa-times-circle fa-2x color_dark_dark_@(color)"></i>
        </button>
        <div class="photo_selection__modal__dialog_container">
            <h2 class="photo_selection__modal__title">Выбирете взгляды</h2>
            <div @*data-simplebar*@ class="photo_selection__modal_foto_c">

                <div class="photo_selection__modal_foto_c_f coord__modal_foto_c_f">

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-2d2"
                             onclick="ChoseCoord('dark_dark_red_border', 'cdim/-2d2')">
                            <img class="coord__img" src="photo/coordinates/-2d2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-2, 2)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-1d2"
                             onclick="ChoseCoord('dark_dark_red_border', 'cdim/-1d2')">
                            <img class="coord__img" src="photo/coordinates/-1d2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-1, 2)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/1d2"
                             onclick="ChoseCoord('dark_dark_blue_border', 'cdim/1d2')">
                            <img class="coord__img" src="photo/coordinates/1d2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(1, 2)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/2d2"
                             onclick="ChoseCoord('dark_dark_blue_border', 'cdim/2d2')">
                            <img class="coord__img" src="photo/coordinates/2d2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(2, 2)
                        </div>
                    </div>

                </div>

                <div class="photo_selection__modal_foto_c_f coord__modal_foto_c_f">

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-2d1"
                             onclick="ChoseCoord('dark_dark_red_border', 'cdim/-2d1')">
                            <img class="coord__img" src="photo/coordinates/-2d1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-2, 1)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-1d1"
                             onclick="ChoseCoord('dark_dark_red_border', 'cdim/-1d1')">
                            <img class="coord__img" src="photo/coordinates/-1d1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-1, 1)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/1d1"
                             onclick="ChoseCoord('dark_dark_blue_border', 'cdim/1d1')">
                            <img class="coord__img" src="photo/coordinates/1d1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(1, 1)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/2d1"
                             onclick="ChoseCoord('dark_dark_blue_border', 'cdim/2d1')">
                            <img class="coord__img" src="photo/coordinates/2d1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(2, 1)
                        </div>
                    </div>
                </div>

                <div class="photo_selection__modal_foto_c_f coord__modal_foto_c_f">

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/0d0"
                             onclick="ChoseCoord('dark_dark_gray_border', 'cdim/0d0')">
                            <img class="coord__img" src="photo/coordinates/0d0.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(0, 0)
                        </div>
                    </div>

                </div>

                <div class="photo_selection__modal_foto_c_f coord__modal_foto_c_f">

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-2d-1"
                             onclick="ChoseCoord('dark_dark_green_border', 'cdim/-2d-1')">
                            <img class="coord__img" src="photo/coordinates/-2d-1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-2, -1)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-1d-1"
                             onclick="ChoseCoord('dark_dark_green_border', 'cdim/-1d-1')">
                            <img class="coord__img" src="photo/coordinates/-1d-1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-1, -1)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/1d-1"
                             onclick="ChoseCoord('dark_dark_yellow_border', 'cdim/1d-1')">
                            <img class="coord__img" src="photo/coordinates/1d-1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(1, -1)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/2d-1"
                             onclick="ChoseCoord('dark_dark_yellow_border', 'cdim/2d-1')">
                            <img class="coord__img" src="photo/coordinates/2d-1.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(2, -1)
                        </div>
                    </div>
                </div>

                <div class="photo_selection__modal_foto_c_f coord__modal_foto_c_f">

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-2d-2"
                             onclick="ChoseCoord('dark_dark_green_border', 'cdim/-2d-2')">
                            <img class="coord__img" src="photo/coordinates/-2d-2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-2, -2)
                        </div>
                    </div>
                    
                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/-1d-2"
                             onclick="ChoseCoord('dark_dark_green_border', 'cdim/-1d-2')">
                            <img class="coord__img" src="photo/coordinates/-1d-2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(-1, -2)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/1d-2"
                             onclick="ChoseCoord('dark_dark_yellow_border', 'cdim/1d-2')">
                            <img class="coord__img" src="photo/coordinates/1d-2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(1, -2)
                        </div>
                    </div>

                    <div class="coord_item">
                        <div class="coord__foto_img" id="cdim/2d-2"
                             onclick="ChoseCoord('dark_dark_yellow_border', 'cdim/2d-2')">
                            <img class="coord__img" src="photo/coordinates/2d-2.jpg" alt="">
                        </div>
                        <div class="coord_text">
                            @SocialNet1.Data.CooridnatesNames.GetName(2, -2)
                        </div>
                    </div>
                </div>

            </div>
                <button class="photo_selection_choose_btn mid_gray_hover" onclick="SetCord('@url', '@name')">Выбрать</button>
            </div>
    </div>
</div>
