@model PhotoFormat

@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    bool isOwner = name == Model.UserName;

    string addUrl = $"/{APIUrls.ADD_FRIEND}";
    string deleteUrl = $"/{APIUrls.DELETE_FRIEND}";
}

<div class="profil_right">
    <div class="profil_right__conteiner_one light_@color">
        <div class="profil_right__ava">
            <img class="profil_right__ava_img" src="data:image/@Model.Format;base64,@Model.Image" alt="Фото">
        </div>
        @if (isOwner)
        {
            <button class="profil_right__ava_btn mid_@(color)_hover" onclick="OpenSetPhoto()">Сменить фотографию</button>
            <button class="profil_right__ava_btn mid_@(color)_hover" onclick="OpenCord()">Сменить взгляды</button>

            @if (User.IsInRole(UserStatus.God.ToString()) || User.IsInRole(UserStatus.God.ToString()))
            {
                <button class="profil_right__ava_btn mid_@(color)_hover" onclick="OpenSetPhoto()">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-keyboard-o fa-1x color_dark_dark_@(color)"></i> Админка
                    </a>
                </button>
            }

        }
        else
        {
            if (userService.IsFriend(name, Model.UserName) && userService.IsFriend(Model.UserName, name))
            {
                <button id="addFriend" class="profil_right__ava_btn mid_@(color)_hover" style='display:none' onclick="AddFriend('@addUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                    Добавить подписчика
                    <i class="fas fa-user-check fa-1x color_dark_dark_@(color)"></i>
                </button>
                <button id="deleteFriend" class="profil_right__ava_btn mid_@(color)_hover" onclick="DeleteFriend('@deleteUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                    Удалить
                    <i class="fas fa-user-alt-slash fa-1x color_dark_dark_@(color)"></i>
                </button>
            }
            else if (!userService.IsFriend(name, Model.UserName) && userService.IsFriend(Model.UserName, name))
            {
                <button id="addFriend" class="profil_right__ava_btn mid_@(color)_hover" onclick="AddFriend('@addUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                    Добавить подписчика
                    <i class="fas fa-user-check fa-1x color_dark_dark_@(color)"></i>
                </button>
                <button id="deleteFriend" class="profil_right__ava_btn mid_@(color)_hover" style='display:none' onclick="DeleteFriend('@deleteUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                    Удалить
                    <i class="fas fa-user-alt-slash fa-1x color_dark_dark_@(color)"></i>
                </button>
            }
            else
            {
                if (userService.IsFriend(name, Model.UserName) && !userService.IsFriend(Model.UserName, name))
                {
                    <button id="addFriend" class="profil_right__ava_btn mid_@(color)_hover" style='display:none' onclick="AddFriend('@addUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                        Подписаться
                        <i class="fas fa-user-check fa-1x color_dark_dark_@(color)"></i>
                    </button>
                    <button id="deleteFriend" class="profil_right__ava_btn mid_@(color)_hover" onclick="DeleteFriend('@deleteUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                        Отписаться
                        <i class="fas fa-user-alt-slash fa-1x color_dark_dark_@(color)"></i>
                    </button>
                }
                else
                {
                    <button id="addFriend" class="profil_right__ava_btn mid_@(color)_hover" onclick="AddFriend('@addUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                        Подписаться
                        <i class="fas fa-user-check fa-1x color_dark_dark_@(color)"></i>
                    </button>
                    <button id="deleteFriend" class="profil_right__ava_btn mid_@(color)_hover" style='display:none' onclick="DeleteFriend('@deleteUrl', '@name',
                    '@Model.UserName', 'addFriend', 'deleteFriend')">
                        Отписаться
                        <i class="fas fa-user-alt-slash fa-1x color_dark_dark_@(color)"></i>
                    </button>
                }
            }

            <button class="profil_right__ava_btn mid_@(color)_hover" onclick="OpenSetPhoto()">
                <a asp-controller="Chats" asp-action="Chat" asp-route-userName="@Model.UserName">
                    <i class="far fa-envelope fa-1x color_dark_dark_@(color)"></i> Написать
                </a>
            </button>
        }

        <a class="profil_right__lol mid_@(color)_hover" href="">ы</a>
        <a class="profil_right__lol mid_@(color)_hover" href="">ы</a>
        <a class="profil_right__lol mid_@(color)_hover" href="">ы</a>
        <a class="profil_right__lol mid_@(color)_hover" href="">ы</a>
        <a class="profil_right__lol mid_@(color)_hover" href="">ы</a>
    </div>
    <div class="rightsitebar__link_top_cont">
        <a class="rightsitebar__link_top" href="#top">
            <i class="fas fa-arrow-alt-circle-up fa-2x color_dark_dark_@(color)" style="margin-bottom: 10px;"></i>
        </a>
    </div>
</div>
