@model ICollection<FullPhotoFormat>

@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    var curUserCurImage = user.Images.SingleOrDefault(el => el.ImageNumber == user.SocNetItems.CurrentImage).Image;

    var curUserImage = NewImageMethods.GetStringFromByteArr(curUserCurImage);

    var curUserFormat = NewImageMethods.GetFormat(curUserCurImage);

    //var addImageAPI = $"http://{Context.Request.Host}/{APIUrls.ADD_IMAGE}";

    var addImageAPI = $"/{APIUrls.ADD_IMAGE}";

    var addlikeURL = $"/{APIUrls.ADD_IMAGE_LIKE}";

    var dellikeURL = $"/{APIUrls.DELETE_IMAGE_LIKE}";

    var deleteImageAPI = $"/{APIUrls.DELETE_IMAGE}";

    var deletecom = $"/{APIUrls.DELETE_COM}";

    var addLikeCom = $"{APIUrls.ADD_IMAGE_COM_LIKE}";

    var deleteLikeCom = $"{APIUrls.DELETE_IMAGE_COM_LIKE}";

    int i = 1;

}

<div id="modal__foto_one" class="modal_1 slideshow-container">

    @foreach (var item in Model)
    {
        int j = 1;
        <div class="modal__foto_container background-color_dark_dark_@(color) mySlides fade" id="@i">
            <div class="modal__foto_all_el">
                <div class="modal__foto_left">
                    <div class="modal__left_container_img">
                        <img class="modal__left_container_img_img" src="data:image/@item.Format;base64,@item.MainImage" alt="">
                    </div>
                    <div class="modal__left_container_dop">
                        <div class="modal__left_dop_infa">
                            @if (name == user.UserName)
                            {
                                <div class="@(i)profil_photo_delete" onclick="DeletePhoto('@deleteImageAPI', '@item.ImageId', '@item.Auhor.AuthorUserName',
                                    '@i', 'photo-@i')">
                                    Удалить
                                    <i class="fa fa-trash-o mid_@(color)_color"></i>
                                </div>
                            }
                            else 
                            { 
                                
                            }
                        </div>
                    </div>
                </div>
                <div class="modal__foto_right mid_@(color)">

                    <div class="foto__right_top background-color_dark_dark_@(color)">
                        <div class="foto__right_t_l">
                            <a class="foto__right_t_l_link" href="">
                                <img class="foto__right_t_l_img" src="data:image/@item.Auhor.AuthorFormat;base64,@item.Auhor.AuthorImage" alt="">
                            </a>
                        </div>
                        <div class="foto__right_t_r">
                            <div class="foto__right_t_r_container">
                                <a class="foto__right_t_name" href="">@item.Auhor.AuthorFirstName @item.Auhor.AuthorSecondName </a>
                                <div class="foto__right_t_container_img">
                                    <img class="foto__right_t_img" src="@item.Auhor.AuthorCoordinatesImage" alt="">
                                </div>
                            </div>
                            <div class="foto__right_t_date">@item.Auhor.DateTime</div>
                        </div>
                        <div class="modal_foto__close">
                            <button id="modal_foto__close1" class="modal_foto__close_btn" onclick="closeForm()">
                                <i class="fa fa-times fa-2x mid_@(color)_color" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                    <div class="modal__foto_right_reactions dark_dark_@(color)_border_bottom">

                        @if (item.Auhor.Likes.FirstOrDefault(el => el.Likers == name) is not null)
                        {
                            <button id="@(i)mainLike1" class="modal__foto_r_r_btn heart_none" onclick="ProfileLikePlus('@(i)mainLike1', '@(i)mainLike2', '@(i)LikeNum',
                                '@addlikeURL', '@item.Auhor.AuthorUserName', '@name', '@item.ImageId')">
                                <i class="fa fa-heart-o color_dark_dark_@(color) heart_none fa-2x" aria-hidden="true"></i>
                            </button>
                            <button id="@(i)mainLike2" class="modal__foto_r_r_btn" onclick="ProfileLikeMinus('@(i)mainLike1', '@(i)mainLike2', '@(i)LikeNum',
                                '@dellikeURL', '@item.Auhor.AuthorUserName', '@name', '@item.ImageId')">
                                <i class="fa fa-heart color_dark_dark_@(color) fa-2x" aria-hidden="true"></i>
                            </button>
                        }
                        else
                        {
                            <button id="@(i)mainLike1" class="modal__foto_r_r_btn" onclick="ProfileLikePlus('@(i)mainLike1', '@(i)mainLike2', '@(i)LikeNum',
                                '@addlikeURL', '@item.Auhor.AuthorUserName', '@name', '@item.ImageId')">
                                <i class="fa fa-heart-o color_dark_dark_@(color) fa-2x" aria-hidden="true"></i>
                            </button>
                            <button id="@(i)mainLike2" class="modal__foto_r_r_btn heart_none"onclick="ProfileLikeMinus('@(i)mainLike1', '@(i)mainLike2', '@(i)LikeNum',
                                '@dellikeURL', '@item.Auhor.AuthorUserName', '@name', '@item.ImageId')">
                                <i class="fa fa-heart color_dark_dark_@(color) heart_none fa-2x" aria-hidden="true"></i>
                            </button>
                        }

                        <div class="profil_modal_foto_btn_quantity" id="@(i)LikeNum">@item.Auhor.Likes.Count</div>

                        @*<button class="modal__foto_r_r_btn">
                            <i class="fa fa-arrow-circle-o-right color_dark_dark_@(color) fa-2x" aria-hidden="true"></i>
                        </button>*@
                        @*<div id="@(i)_modal__foto_r_r_btn_circle" class="profil_modal_foto_btn_quantity modal__foto_r_r_btn_circle dark_dark_@(color)_border_bottom_hover"
                             onclick="ShowReps('@(i)_circle__tooltop')">
                            @item.RepostCount
                        </div>*@
                        <div id="@(i)_circle__tooltop" class="circle__tooltop background-color_dark_dark_@(color)">
                            <div class="circle__tooltip_title">Список репостов</div>
                            <div class="circle__tooltip_comtainer mid_@(color)_border_bottom_hover">
                                <div class="circle__tooltip_r_c_l">
                                    <a class="circle__ava_link" href="">
                                        <img class="circle__link_img" src="img/артем.jpg" alt="">
                                    </a>
                                </div>
                                <div class="circle__name_polit">
                                    <a class="circle__name_link" href="">Шашлычков Герман</a>
                                    <img class="circle__polit_img" src="img/намаз.jpg" alt="">
                                </div>
                            </div>
                            <div class="circle__tooltip_comtainer mid_@(color)_border_bottom_hover">
                                <div class="circle__tooltip_r_c_l">
                                    <a class="circle__ava_link" href="">
                                        <img class="circle__link_img" src="img/артем.jpg" alt="">
                                    </a>
                                </div>
                                <div class="circle__name_polit">
                                    <a class="circle__name_link" href="">Шашлычков Германия</a>
                                    <img class="circle__polit_img" src="img/намаз.jpg" alt="">
                                </div>
                            </div>
                            <div class="circle__tooltip_comtainer mid_@(color)_border_bottom_hover">
                                <div class="circle__tooltip_r_c_l">
                                    <a class="circle__ava_link" href="">
                                        <img class="circle__link_img" src="img/артем.jpg" alt="">
                                    </a>
                                </div>
                                <div class="circle__name_polit">
                                    <a class="circle__name_link" href="">Шашлычков Герман</a>
                                    <img class="circle__polit_img" src="img/намаз.jpg" alt="">
                                </div>
                            </div>
                            <div class="circle__tooltip_comtainer mid_@(color)_border_bottom_hover">
                                <div class="circle__tooltip_r_c_l">
                                    <a class="circle__ava_link" href="">
                                        <img class="circle__link_img" src="img/артем.jpg" alt="">
                                    </a>
                                </div>
                                <div class="circle__name_polit">
                                    <a class="circle__name_link" href="">Шашлычков Герман</a>
                                    <img class="circle__polit_img" src="img/намаз.jpg" alt="">
                                </div>
                            </div>
                            <div class="circle__tooltip_comtainer mid_@(color)_border_bottom_hover">
                                <div class="circle__tooltip_r_c_l">
                                    <a class="circle__ava_link" href="">
                                        <img class="circle__link_img" src="img/артем.jpg" alt="">
                                    </a>
                                </div>
                                <div class="circle__name_polit">
                                    <a class="circle__name_link" href="">Шашлычков Герман</a>
                                    <img class="circle__polit_img" src="img/намаз.jpg" alt="">
                                </div>
                            </div>
                            <div class="circle__tooltip_link_c">
                                <a class="circle__tooltip_link mid_@(color)_border_bottom_hover" href="">А можно всех посмотреть?</a>
                            </div>
                        </div>
                        <button class="modal__foto_r_r_btn">
                            <i class="fa fa-comments-o color_dark_dark_@(color) fa-2x" aria-hidden="true"></i>
                        </button>
                        <div class="profil_modal_foto_btn_quantity" id="photoComCount@(i)">@item.Comments.Count</div>
                    </div>

                    @{
                        var comsID = $"{i}image_coms";
                        int cmId = 0;
                    }

                    <div class="modal__foto_right_comment_container background-color_dark_dark_@(color)" data-simplebar id="@(comsID)">

                        @foreach (var com in item.Comments)
                        {
                            var isLiked = com.Likes.FirstOrDefault(cm => cm.Likers == name) is not null;
                            j = com.HelpId;

                            <div class="modal__foto_right_comment dark_@(com.Color)_border_bottom mid_@(com.Color)" id="@(i)image_com@(j)">
                                <div class="modal__foto_r_c_l">
                                    <a class="comment_ava_link" asp-controller="Profile" asp-action="Index" asp-route-userName="@com.AuthorUserName">
                                        <img class="comment_link_img" src="data:image/@com.AuthorFormat;base64,@com.AuthorImage" alt="">
                                    </a>
                                </div>
                                <div class="modal__foto_r_c_r">
                                    <div class="comment__name_polit">
                                        <a class="comment__name_link"  asp-controller="Profile" asp-action="Index" asp-route-userName="@com.AuthorUserName">
                                            @com.AuthorSecondName @com.AuthorFirstName
                                        </a>
                                        <img class="comment__polit_img" src="@com.AuthorCoordinatesImage" alt="">
                                    </div>
                                    <div class="comment__all_infa">
                                        <div class="comment__date">@com.DateTime</div>
                                        <div class="comment__icons">
                                            @if (com.AuthorUserName == name || item.Auhor.AuthorUserName == name)
                                            {
                                                <div class="comment__minus" onclick="DeletePhotoCom('@(i)image_com@(j)', '@deletecom',
                                                         '@item.Auhor.AuthorUserName', '@item.ImageId', '@com.HelpId')">
                                                    <i class="fa fa-trash-o color_dark_dark_@(com.Color)" aria-hidden="true"></i>
                                                </div>
                                            }
                                            @*<div class="comment__plus">
                                                <i class="fa fa-commenting-o color_dark_dark_@(com.Color)" aria-hidden="true"></i>
                                            </div>*@
                                            <div id="@(i)com@(j)_im_like_on" onclick="ProfileComLikePlus('@(i)com@(j)_im_like_on',
                                                    '@(i)com@(j)_im_like_off', '@(i)com@(j)_im_like_num', '@addLikeCom', '@item.Auhor.AuthorUserName',
                                                    '@name', '@item.ImageId', '@com.HelpId')"
                                                 class="comment__heart @(isLiked ? "heart_none": "")">
                                                <i class="fa fa-heart-o color_dark_dark_@(com.Color)" aria-hidden="true"></i>
                                            </div>
                                            <div id="@(i)com@(j)_im_like_off" onclick="ProfileComLikeMinus('@(i)com@(j)_im_like_on',
                                                        '@(i)com@(j)_im_like_off', '@(i)com@(j)_im_like_num', '@deleteLikeCom',
                                                        '@item.Auhor.AuthorUserName', '@name', '@item.ImageId', '@com.HelpId')"
                                                 class="comment__heart_bac @(isLiked ? "": "heart_none")">
                                                <i class="fa fa-heart color_dark_dark_@(com.Color) heart_none" aria-hidden="true"></i>
                                            </div>
                                            <div id="@(i)com@(j)_im_like_num" class="comment__quantity">@(com.Likes.Count)</div>
                                        </div>
                                    </div>
                                    <div class="comment__content">@com.Comment</div>
                                </div>
                            </div>

                            cmId = com.CommId;
                            j++;
                        }
                    </div>

                    <div id="modal__foto_right_my_comment_@(i)" class="modal__foto_right_my_comment dark_dark_@(color)_border_top">
                        <div class="modal__foto_r_m_c_link_ava">
                            <a class="my_comment__ava_link" href="">
                                <img class="my_comment__link_img" src="data:image/@curUserFormat;base64,@curUserImage" alt="">
                            </a>
                        </div>
                        <div id="@(i)modal__foto_right_my_comment_one" class="my_comment__container color_dark_dark_dark_@(color)"
                             onclick="OpenComForm('@(i)modal__foto_right_my_comment_two', 'modal__foto_right_my_comment_@(i)',
            'modal__foto_right_my_comment_write_active')">
                            Оставить комментарий
                        </div>
                    </div>
                    <div id="@(i)modal__foto_right_my_comment_two" class="modal__foto_right_my_comment_write dark_dark_@(color)_border_top">
                        <div class="modal__foto_right_my_comment_write_top mid_@(color)">
                            <div class="modal__foto_right_my_comment_write_t_l background-color_dark_dark_@(color)">
                                <div class="my_comment_write_ava">
                                    <a class="my_comment_write_ava_link" href="">
                                        <img class="my_comment_write_ava_img" src="data:image/@curUserFormat;base64,@curUserImage" alt="">
                                    </a>
                                </div>
                                <div class="my_comment_write_smile">
                                    <i class="fas fa-dizzy mid_@(color)_color"></i>
                                </div>
                                <div class="my_comment_write_skrepka">
                                    <i class="fa fa-paperclip mid_@(color)_color" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="modal__foto_right_my_comment_write_t_r">
                                <div class="modal__foto_right_my_comment_write_t_r_two">
                                    <div contenteditable="true" class="my_comment__write_my_comment color_dark_dark_dark_@(color)" data-simplebar id="@(i)com_input">
                                        @*Здесь появляются дивы*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal__foto_right_my_comment_write_bottom background-color_dark_dark_@(color)">
                            <button id="slider@(i)_my_comment_write_btn_cancel" class="my_comment_write_btn_cancel mid_@(color)"
                                    onclick="CloseComForm('@(i)modal__foto_right_my_comment_two', 'modal__foto_right_my_comment_@(i)',
              'modal__foto_right_my_comment_write_active')">
                                Отменить
                            </button>
                            <button class="my_comment_write_btn_send mid_@(color)" onclick="SendProfileImageCom('@(i)com_input', '@name', '@item.Auhor.AuthorUserName',
                                '@item.ImageId', '@addImageAPI', '@comsID', '@i', '@j', 'photoComCount@(i)', '@color', '@cmId')">
                                Отправить
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        i++;
    }

    <a class="prev" onclick="minusSlides()">&#10094;</a>
    <a class="next" onclick="plusSlides()">&#10095;</a>
</div>
