@model ProfileViewModel
@{
    
}
@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(Model.User.UserName);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    var fullPhotos = new List<FullPhotoFormat>();

    var avaIms = new List<SetAvaModel>();

    int i = 1;

    int avaNum = i;

    var userMainImage = Model.User.Images.SingleOrDefault(el => el.ImageNumber == Model.User.SocNetItems.CurrentImage);

    var imageArr = userMainImage.Image;

    var strImage = NewImageMethods.GetStringFromByteArr(imageArr);

    var format = NewImageMethods.GetFormat(imageArr);

    foreach (var item in user.Images)
    {

        var photo = NewImageMethods.GetStringFromByteArr(item.Image);
        var formatPhoto = NewImageMethods.GetFormat(item.Image);

        var coments = new List<PhotoUserInfoComms>();

        foreach (var coment in item.Coments)
        {
            var commentator = userService.Get(coment.UserName);

            var commentMainImage = commentator.Images.SingleOrDefault(el => el.ImageNumber == commentator.SocNetItems.CurrentImage);

            var commentImageArr = commentMainImage.Image;

            var commentStrImage = NewImageMethods.GetStringFromByteArr(commentImageArr);

            var commentFormat = NewImageMethods.GetFormat(commentImageArr);

            var comId = coment.Id;

            coments.Add(new PhotoUserInfoComms
            {
                DateTime = coment.DateTime.ToString("g"),
                Likes = coment.UserCommentLikes,
                Comment = coment.Text,
                AuthorFirstName = commentator.FirstName,
                AuthorSecondName = commentator.SecondName,
                AuthorCoordinatesImage = $"photo/coordinates/{commentator.SocNetItems.X}d{commentator.SocNetItems.Y}.jpg",
                AuthorUserName = commentator.UserName,
                AuthorImage = commentStrImage,
                AuthorFormat = commentFormat,
                Color = UserMethods.GetColor(commentator.SocNetItems.X, commentator.SocNetItems.Y),
                CommId = comId,
                HelpId = coment.HelpId
            });
        }

        fullPhotos.Add(new FullPhotoFormat
        {
            ImageId = item.Id,
            MainImage = photo,
            Format = formatPhoto,

            RepostCount = item.RepostCount,
            Auhor = new PhotoUserInfoAut
            {
                AuthorUserName = Model.User.UserName,
                AuthorFirstName = Model.User.FirstName,
                AuthorSecondName = Model.User.SecondName,
                AuthorImage = strImage,
                AuthorFormat = format,
                AuthorCoordinatesImage = Model.CoordImage,
                DateTime = item.DateTime.ToString("g"),
                Likes = item.UserLikes
            },

            Comments = coments,

            Number = i
        });

        avaIms.Add(new SetAvaModel
        {
            Image = photo,
            Format = formatPhoto,
            ImageNum = item.ImageNumber
        });

    }

    fullPhotos.Reverse();

    foreach (var item in fullPhotos)
    {
        if (item.MainImage == strImage)
        {
            avaNum = i;
        }

        i++;
    }

    var ava = new PhotoFormat
    {
        Format = format,
        Image = strImage,
        UserName = Model.User.UserName,
        Number = avaNum
    };

    var photos = fullPhotos
        .Take(4)
        .Select(el => new PhotoFormat
        {
            Image = el.MainImage,
            Format = el.Format
        })
        .ToList();

    i = 1;

    foreach (var item in photos)
    {
        item.Number = i;

        i++;
    }

    

}

<div class="profil_left">
    <partial name="Partial/Profile/ProfileInfo" model="@Model" />

    <partial name="Partial/Profile/ProfilePhotos" model="@photos" />

    @if (Model.User.UserName == User.Identity!.Name)
    {
        <div class="profil_left__add_f light_@(color)">
            <button class="profil_left__add_foto add_foto">Добавить фото</button>
        </div>
    }

    <partial name="Partial/Profile/ProfileAddPost" model="@new ComModel { AuthorName = Model.User.UserName}" />

    <partial name="Partial/Profile/ProfilePosts" model="@new PostsViewModel { Posts = Model.User.SocNetItems.Posts, AuthorName = Model.User.UserName }" />  

</div>

<partial name="Partial/Profile/ProfileRight" model="@ava" />

@if (Model.User.UserName == User.Identity!.Name)
{
    <partial name="Partial/Profile/PhotoAdd" />
    <partial name="Partial/Profile/SetAva" model="@avaIms"/>
    <partial name="Partial/Profile/Coord" />
}

<partial name="Partial/Profile/Slider" model="@fullPhotos" />
