@model ClashesViewModel
@inject IGroup groupService;
@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    string color = "gray";

    if (user is not null)
        color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);
}
<div class="chats">
    <div class="chats__conteiner light_@(color)">
        <div class="chats__search dark_@(color)_border_bottom light_@(color)">
            <input type="text" name="search" placeholder="Поиск когда-нибудь появится)" class="chats__search_input">
        </div>
        <div class="dark_@(color)_border_bottom clash_h2">
            <h2>
                Противостояния
            </h2>
        </div>
        <div class="chats__nav dark_@(color)_border_bottom">
            <div class="chats__list">
                <div class="chats__list_item_item dark_@(color)_border_bottom_hover dark_@(color)_border_bottom" data-path="one" id="but1"
                     onclick="TabMaster2('but1', 'but2','dark_@(color)_border_bottom')">
                    Все:@Model.AllClashes.Count
                </div>
                <div class="chats__list_item_item dark_@(color)_border_bottom_hover" data-path="two" id="but2"
                     onclick="TabMaster2('but2', 'but1', 'dark_@(color)_border_bottom')">
                    Мои группы: @Model.UserClashes.Count
                </div>
            </div>
        </div>
        <div data-target="one" class="chats__info_container chats__info_container_active">
            <div class="groups__content_gg">
                <ul class="groups__content_list">
                    @foreach (var clash in Model.AllClashes)
                    {
                        var group1 = groupService.Get(clash.Side1.Group.ShortGroupName);

                        int gX1 = group1.SocNetItems.X, gY1 = group1.SocNetItems.Y;

                        var groupCoordUserColor1 = UserMethods.GetColor(gX1, gY1);

                        var groupCoordImageArr1 = group1.Images.SingleOrDefault(el => el.ImageNumber == group1.SocNetItems.CurrentImage).Image;

                        var groupCoordStrImage1 = NewImageMethods.GetStringFromByteArr(groupCoordImageArr1);

                        var groupCoordFormat1 = NewImageMethods.GetFormat(groupCoordImageArr1);

                        var groupCoord1 = $"photo/coordinates/{gX1}d{gY1}.jpg";


                        var group2 = groupService.Get(clash.Side2.Group.ShortGroupName);

                        int gX2 = group2.SocNetItems.X, gY2 = group2.SocNetItems.Y;

                        var groupCoordUserColor2 = UserMethods.GetColor(gX2, gY2);

                        var groupCoordImageArr2 = group2.Images.SingleOrDefault(el => el.ImageNumber == group2.SocNetItems.CurrentImage).Image;

                        var groupCoordStrImage2 = NewImageMethods.GetStringFromByteArr(groupCoordImageArr2);

                        var groupCoordFormat2 = NewImageMethods.GetFormat(groupCoordImageArr2);

                        var groupCoord2 = $"photo/coordinates/{gX2}d{gY2}.jpg";

                        <li class="groups__content_list_item mid_@(color)_hover">
                            <div class="groups__content_list_item_c_l">
                                <div class="groups__content_list_item_c clash_padding mid_@(groupCoordUserColor1)">
                                    <div class="groups__content_ava">
                                        <a class="groups__content_ava_link" asp-controller="Group" asp-action="Group" asp-route-groupName="@group1.ShortGroupName">
                                            <img class="groups__content_ava_img" src="data:image/@groupCoordFormat1;base64,@groupCoordStrImage1" alt="">
                                        </a>
                                    </div>
                                    <div class="groups__content_links">
                                        <div class="groups__content_politcor groups__content_list_item_m">
                                            <img class="groups__content_politcor_img" src="@groupCoord1" alt="">
                                        </div>
                                        <div class="groups__content_name_g groups__content_list_item_m">
                                            <a class="groups__content_ava_link" asp-controller="Group" asp-action="Group" asp-route-groupName="@group1.ShortGroupName">
                                                @(group1.GroupName.Length > 15 ? group1.GroupName.Substring(0, 14) : group1.GroupName)
                                            </a>
                                        </div>
                                        <div class="groups__content_quantity">@group1.Users.Count учасников</div>
                                    </div>
                                </div>
                            </div>
                            <div class="groups__content_list_item_c_r">
                                <div class="groups__content_list_item_c groups__content_list_item_c_r_r clash_padding mid_@(groupCoordUserColor2)">
                                    <div class="groups__content_links groups__content_links_right">
                                        <div class="groups__content_politcor groups__content_list_item_m">
                                            <img class="groups__content_politcor_img" src="@groupCoord2" alt="">
                                        </div>
                                        <div class="groups__content_name_g groups__content_list_item_m">
                                            <a class="groups__content_ava_link" asp-controller="Group" asp-action="Group" asp-route-groupName="@group2.ShortGroupName">
                                                @(group2.GroupName.Length > 15 ? group2.GroupName.Substring(0, 14) : group2.GroupName)
                                            </a>
                                        </div>
                                        <div class="groups__content_quantity">@group2.Users.Count учасников</div>
                                    </div>
                                    <div class="groups__content_ava_r">
                                        <a class="groups__content_ava_link" asp-controller="Group" asp-action="Group" asp-route-groupName="@group2.ShortGroupName">
                                            <img class="groups__content_ava_img" src="data:image/@groupCoordFormat2;base64,@groupCoordStrImage2" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div data-target="two" class="chats__info_container">
            @*@foreach (var friend in Model.Friends)
                {
                    int friendUserX = friend.SocNetItems.X, friendUserY = friend.SocNetItems.Y;

                    var friendUserColor = UserMethods.GetColor(friendUserX, friendUserY);

                    var friendImageArr = friend.Images.SingleOrDefault(el => el.ImageNumber == friend.SocNetItems.CurrentImage).Image;

                    var friendStrImage = NewImageMethods.GetStringFromByteArr(friendImageArr);

                    var friendFormat = NewImageMethods.GetFormat(friendImageArr);

                    var friendCoord = $"photo/coordinates/{friendUserX}d{friendUserY}.jpg";

                    <div class="chats__post dark_@(color)_border_bottom mid_@(friendUserColor)_hover">
                        <a class="chats__post_link" asp-controller="Chats" asp-action="Chat" asp-route-userName="@friend.UserName">
                            <div class="chats__post_ava">
                                <img class="chats__post_ava_img" src="data:image/@friendFormat;base64,@friendStrImage" alt="Фото">
                            </div>
                            <div class="chats__post_block">
                                <div class="chats__post_block_name_time">
                                    <span class="chats__post_name">@friend.FirstName @friend.SecondName</span>
                                    <span class="chats__post_time">@DateTime.Now.ToString("g")</span>
                                </div>
                                <div class="chats__post_ava2_text">
                                    <div class="chats__post_ava2">
                                        <img class="chats__post_ava2_img" src="@friendCoord" alt="">
                                    </div>
                                    <div class="chats__post_text">Написать? </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }*@
        </div>
    </div>
</div>

<partial name="Partial/MessageRightSiteBar" />