@model GroupRightModel
@inject IGroup groupService;
@inject IUser userService;
@{
    var name = User.Identity!.Name;

    var user = userService.Get(name);

    var color = UserMethods.GetColor(user.SocNetItems.X, user.SocNetItems.Y);

    var group = groupService.Get(Model.GroupName);

    bool isSub = group.Users.Select(gs => gs.UserName).Contains(name);

    var subUrl = $"/{APIUrls.SUB_GROUP}";
    var unSubUrl = $"/{APIUrls.UNSUB_GROUP}";
}

<div class="profil_right">
    <div class="profil_right__conteiner_one light_@color">
        <div class="profil_right__ava" onclick="formShow('@Model.PhotoFormat.Number')">
            <img class="profil_right__ava_img" src="data:image/@Model.PhotoFormat.Format;base64,@Model.PhotoFormat.Image" alt="Фото">
        </div>
        @if (group.Users.Where(us => us.Status == SocialNet1.Domain.Group.Status.Admin).Select(gs => gs.UserName).Contains(name))
        {
            <button class="profil_right__ava_btn mid_@(color)_hover" onclick="OpenCord()">Сменить взгляды</button>
            <button class="profil_right__ava_btn mid_@(color)_hover">
                <a asp-action="Delete" asp-route-groupName="@Model.GroupName">Удалить группу</a>
            </button>
            <button class="profil_right__ava_btn mid_@(color)_hover" onclick="OpenSetPhoto()">Сменить фотографию</button>
        }

        <button id="Sub" class="profil_right__ava_btn mid_@(color)_hover" @(isSub ? "style=display:none" : "")
                onclick="Sub('@Model.GroupName', '@name', '@subUrl')">
            Подписаться
        </button>
        <button id="UnSub" class="profil_right__ava_btn mid_@(color)_hover" @(isSub ? "" : "style=display:none")
                onclick="UnSub('@Model.GroupName', '@name', '@unSubUrl')">
            Отписаться
        </button>

    </div>
    <div class="rightsitebar__link_top_cont">
        <a class="rightsitebar__link_top" href="#top">
            <i class="fas fa-arrow-alt-circle-up fa-2x color_dark_dark_@(color)" style="margin-bottom: 10px;"></i>
        </a>
    </div>
</div>